.logo{
    background: right
    url("C:\Users\moner\Desktop\GIT\FirstProjectTest0\Super_Paper_Mario_Logo.png");
    display: flex;
    height: 140px;
    align-items: center;
    justify-content: center;
}

